@tailwind base;
@tailwind components;
@tailwind utilities;

// Slider styles
input[type='range'] {
  overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 70%;
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -405px 0 0 400px #3a3a3a;
}
